@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$bg-defaultBody: gainsboro;
$bg-defaultQuote: white;
$fontFamily: "Roboto", sans-serif; 
$font300: 300;
$font400: 400;
$font500: 500;
$font700: 700;
$font900: 900;
$fontSmall: 0.8em;
$fontBig: 1.2em;
$fontBigest: 1.7em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
}
